body{
    margin: 1px;
}
.head{
    background-color: antiquewhite;
    border: 2px solid black;
}
.head ul{
    display: flex;
    padding: 10px;
    padding-right: 10px;
    align-items: center;
    list-style: none;
}
.head ul li{
    margin-right: 70px;
    color: white;
    
}
.head ul li:hover{
    background-color:rgb(214, 114, 245);
    font-size: large;
}

.mapcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    width: 210px;
    margin-bottom: 10px;
    
}
.container img{
    
    height: 280px;
    width: 200px;
}
.container p.description {
    font-size: 0.875rem; /* Adjust font size as needed */
    height: 100px; /* Set a fixed height for descriptions */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis to text that overflows */
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limit the description to 5 lines */
    -webkit-box-orient: vertical;
  }
  .bar{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }